/* IOGS Orange  	rgb(255, 150, 10);		*/
/* IOGS Violet 		rgb(10, 50, 80);  		*/

/* Main */
html,
body {
	border-radius: 0;
}


/* Main title */
.frame-title h1{
	padding: 5px 5px 5px 10px;
	font-family: 'Audiowide';
	font-weight: normal;
	font-size: 20px;	
	display: block;
	color: white;
}



/* Main section */
.frame-section{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	padding-top: 10px;
}

.frame-description{
	font-family: system-ui;
	font-weight: normal;
	font-size: 1.3em;
	padding: 5px 5px 5px 10px;
}

.frame-container{
	display: flex;

	/* Then we define the flow direction and if we allow the items to wrap 
	* Remember this is the same as:
	* flex-direction: row;
	* flex-wrap: wrap;
	*/
	flex-flow: row wrap;

	/* Then we define how is distributed the remaining space */
	/* justify-content: space-around; */

	padding: 10px;
	margin: 0;
	list-style: none;
	width: calc(100%-20px);
}

/* List of items */
.content-item li {
	text-decoration: none;
	list-style: none;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	color: white;
}
.content-item a {
	text-decoration: none;
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
	color: white;
}
.content-item a:hover {
	background: black;
	color: lightgray;
}




/* List of items*/
.sub-link{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border-radius: 15px;
	padding: 5px;
	margin: 5px 5px 5px 10px;
	list-style: none;
}
.sub-link-data:hover{
	background: darkgray;
}
.sub-link-desc{
	display: flex;
	flex-flow: column wrap;
	width: calc(100%-10px);	
}
.sub-link-desc a{
	text-decoration: none;
	padding-left: 10px;
	font-weight: bold;
	color: white;	
}
.sub-link-img{
	height: 150px;
	margin: 0px;
	margin-left: 20px;
	border-radius: 15px;
	list-style: none;
	color: white;
	border: 5px solid white;
	background: white;
}

.sub-link-img img{
	height: 150px;
	max-width: 200px;
	border-radius: 10px;
}


/* Information description */
p.desc-info{
	font-family: system-ui;
	font-weight: normal;
	font-size: 1.1em;
}
/* Information description */
p.desc{
	font-family: system-ui;
	font-weight: normal;
	font-size: 1.1em;
}

/* Item of the list */
.sub-item .sub-link-desc .desc{
	text-decoration: none;
	padding-left: 50px;
	font-size: 0.8em;
	font-weight: normal;
}
.sub-item .sub-links{
	display: flex;
	flex-flow: row wrap;
	margin-left: 50px;
	margin-top: 10px;
}
a.sub-ressources{
	background: var(--ressources);
	padding: 2px 10px 2px 10px;
	margin-left: 10px;
	margin-top: 2px;
	border-radius: 5px;
	list-style: none;
	text-decoration: none;
	color: white;	
	font-size: 0.6em;
}
a.sub-ressources:hover{
	background: var(--ressources-light);
}

.icon::before {
/* removed font- based rules */
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
/* Inside link of informations */
a.link {
	font-family: system-ui;
	font-weight: normal;
	font-size: 1.1em;
	text-decoration: none;
	padding: 2px 10px 2px 10px;
	border-radius: 10px;
}
a.git::before {
	/* using style CSS custom property */
	font: var(--fa-font-brands);
	content: "\f09b \00a0\00a0";
}
