/* IOGS Orange  	rgb(255, 150, 10);		*/
/* IOGS Violet 		rgb(10, 50, 80);  		*/

/* Main */
html,
body {
	height: 99%;
	border-radius: 0;
}


/* Main title */
.frame-title h1{
	padding: 5px 5px 5px 10px;
	font-family: 'Audiowide';
	font-weight: normal;	
	display: block;
	color: white;
}

/* Main section */
.frame-section{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	padding-top: 10px;
}

.frame-container{
	display: flex;

	/* Then we define the flow direction and if we allow the items to wrap 
	* Remember this is the same as:
	* flex-direction: row;
	* flex-wrap: wrap;
	*/
	flex-flow: row wrap;

	/* Then we define how is distributed the remaining space */
	/* justify-content: space-around; */

	padding: 10px;
	margin: 0;
	list-style: none;
}

/* List of items */
.content-item li {
	text-decoration: none;
	list-style: none;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
}

