/* CSS File for Training */

:root {
  --iogs-orange: rgb(255, 150, 10);
  --iogs-violet: rgb(10, 50, 80);
  --background: rgb(52, 162, 189);	
}

/* Main */
html,
body {
	height: 99%;
	border-radius: 0;
}

ul{
	padding: 0;
}



/* Test for menu */
/*
<ul class="navigation">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Products</a></li>
  <li><a href="#">Contact</a></li>
</ul>
*/

/* Top navigation bar */
.navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
    vertical-align: middle;
  
	list-style: none;
	margin: 0; 
	background: var(--iogs-violet);
}

.navigation a {
	font-family: system-ui;
	font-weight: bold;	
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
	border: 1px solid var(--iogs-violet);
}

.navigation a:hover {
	background: var(--background);
}


.navigation .selected a{
	background: white;
	color: var(--iogs-violet);
	border: 1px solid var(--iogs-violet);
}
.navigation .selected a:hover{
	background: lightgray;
	color: var(--iogs-violet); 
}

/* Main title */
.main-title h1{
	background: var(--background);
	padding: 5px 5px 5px 20px;
	font-family: 'Audiowide';
	font-weight: normal;
	display: block;
	color: white;
}

/* Main section */
.main-section{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around; 
	padding-top: 1px;
}

.main-container{
	display: flex;
	flex-flow: row wrap;

	/* Then we define how is distributed the remaining space */
	justify-content: space-around;

	padding: 0;
	margin: 0;
	list-style: none;
}

.main-item {
	height: 100%;
	text-align: left;
}
.menu-item{
	width:	300px;
}
.description-item{
	width:	calc(100% - 300px);
}


/* left menu */
.nav-left {
	display: flex;
	flex-flow: column wrap;
    vertical-align: middle;
  
	list-style: none;
}

.nav-left a {
	background: var(--background);
	display: block;
	margin: 0.2em;
	border-radius: 5px 20px 50px 5px;
	font-family: system-ui;
	font-weight: bold;	
	text-decoration: none;
	padding: 0.5em 0.5em 0.5em 1em;
	color: white;
	border: 2px solid var(--background);
}
.nav-left a::before{
	font-family: "Font Awesome 5 Free";
	content: "\f101 \00a0\00a0";
}

.nav-left a:hover {
	background: var(--iogs-violet);
	border: 2px solid var(--iogs-violet);
	border-radius: 5px 50px 20px 5px;
}

.nav-left .return a{
	background: lightgray;
	color: var(--iogs-violet);
	border: 2px solid var(--iogs-violet);
}
.nav-left .return a::before{
	font-family: "Font Awesome 5 Free";
	content: "\f100 \00a0\00a0";
}
.nav-left .returned a{
	background: white;
	color: var(--background);
	border: 2px solid var(--background);
}
.nav-left .returned a::before{
	font-family: "Font Awesome 5 Free";
	content: "\f103 \00a0\00a0";
}

.nav-left .selected a{
	background: white;
	color: var(--background);
	border: 2px solid var(--background);
}
.nav-left .selected a:hover{
	background: lightgray;
}







@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}